$primary-color: #409eff;
$primary-background-color: #ecf5ff;

// 左侧部分
.left-container{
  width:400px;
  height:100%;
  float:left;
  .widget-group-title{
    padding: 8px 12px;
    font-size: 15px;
  }
  ul{
    list-style: none;
    position: relative;
    overflow: hidden;
    padding: 0 10px 10px;
    margin: 0;
    font-size: 0;
    li{
      position: relative;
      display: block;
      float: left;
      width: 48%;
      margin: 1%;
      left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #333;
      border: 1px solid #f4f6fc;
      &:hover {
        color: $primary-color;
        border: 1px dashed $primary-color;
      }
    }
  }
}

// 中间部分
.center-container {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height:100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  ul{
    list-style: none;
    min-height: 50%;
    font-size: 0;
    li{
      position: relative;
      border: 1px solid $primary-background-color;
      &:hover {
        border: 1px solid $primary-color;
      }
      &.active{
        border: 1px solid $primary-color;
        border-left: 5px solid $primary-color;
      }
      .widget-action-delete{
        position: absolute;
        right: 20px;
        bottom: -18px;
        z-index: 9;
      }
  
      .widget-action-clone{
        position: absolute;
        right: 70px;
        bottom: -18px;
        z-index: 9;
      }
    }
  }
  .title-bar {
    line-height: 60px;
    border-bottom: solid 2px #e4e7ed;
    text-align: center;
    h3 {
      margin: 0 auto;
    }
  }
}
.center-container::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

// 右侧部分
.right-container{
  position: relative;

  .el-header{
    border-bottom: solid 2px #e4e7ed;
    padding: 0 5px;
  }

  .config-tab{
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &.active{
      border-bottom: solid 2px $primary-color;
    }
  }
}
